.billet-all-stars {
  background: url("../images/billet_all_star.png");
}

.billet-2-jour {
  background: url("../images/billet_2_jour.png");
}


.billet {
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 4vh 10vw 0 10vw;
  width: 80%;
  height: 20vh;
  position: relative;
}

.billet-1-jour {
  background: url("../images/billet_1_jour.png");
  margin-bottom: 5em;
}

.billet h2 {
  position: absolute;
  top: 0;
  margin: 0.5em;
}

.billet button {
  position: absolute;
  bottom: 0;
  margin: 1em;
}


.position_text {
  border-bottom: 1px solid white;
  margin: 4vh 10vw 0 10vw;
}

.colorb2 {
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
  animation: colorRotate2 6s linear 0s infinite;
}

.colorb3 {
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
  animation: colorRotate3 6s linear 0s infinite;
}

button {
  right: 0;
  background-color: #6a8596;
  border-color: #6a8596;
  margin-bottom: 1em;
  padding: 0.5vh 1vw;
}

p {
  font-size: 1.5em;
}

.prix {
  color: black;
  z-index: 1;
}

/* texte rainbox ticket all start */

.rainbow {
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

/*titre pass 2 jour*/
@keyframes colorRotate2 {
  from {
    color: #c01556;
  }
  10% {
    color: #ff0180;
  }
  50% {
    color: #b40e38;
  }
  75% {
    color: #ac1717;
  }
  100% {
    color: #ff0000;
  }
}

/*titre pass 1 jour*/
@keyframes colorRotate3 {
  from {
    color: #f1b6b6;
  }
  10% {
    color: #fdfdfd;
  }
  50% {
    color: #fc9696;
  }
  75% {
    color: #c4dada;
  }
  100% {
    color: #dfbfbf;
  }
}

/*Bouton style*/
.rainbow2 {
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
}

.rainbow-5:hover {
  background-image: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399
  );
  filter: blur(0.5px); /* Ajustez la valeur de flou selon vos préférences */
  z-index: 0; /* Placez-le derrière le contenu principal */
  animation: slidebg 4s linear infinite;
  border: none;
}

.rainbow-4:hover {
  background-image: linear-gradient(
    to right,
    #1f4aff,
    #1f4aff,
    #4b7bff,
    #4b7bff,
    #8fbfff,
    #4d4dff,
    #4d4dff
  );
  filter: blur(0.5px);
  animation: slidebg 4s linear infinite;
  border: none;
}
.rainbow-3:hover {
  background-image: linear-gradient(
    to right,
    #ff0000,
    #ff0000,
    #cc0000,
    #990000,
    #ff3333,
    #ff0000
  );
  filter: blur(0.5px);
  animation: slidebg 4s linear infinite;
  border: none;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
