{% extends 'admin.html' %} {% block main %}

<div class="container-fluid mt-2">
    <a href="{{ url_for('gestion_groupe', nom=nom) }}" style="text-decoration: none; color: black;"><img src="{{ url_for('static', filename='images/fleche-gauche.png') }}" alt="" style="width: 25px;">Retour au groupe</a>
</div>

<div class="container-sm mt-5 p-5">
    <form action="{{ url_for('ajouter_artiste', nom=nom) }}" method="post" class="m-5 p-5 border rounded-3">
        {{ form.csrf_token }}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{ form.nom.label }}/{{ form.prenom.label }}</span>
            {{ form.nom(class="form-control", placeholder="Nom") }}
            {{ form.prenom(class="form-control", placeholder="Prénom") }}
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text">{{ form.instrument.label }}</label>
            {{ form.instrument(class="form-select") }}
        </div>
        <div class="d-grid gap-2">
            <input type="submit" value="Ajouter" class="btn btn-success">
        </div>
    </form>
</div>

{% endblock %}