<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% block styles %} {{ bootstrap.load_css() }} {% endblock %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/navBar.css') }}">
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/footer.css') }}">
    <title>{{ title }}</title>
    {% endblock %}
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}" style="margin: 0; padding: 0;"><img
              class="tailleImage"
              src="../static/images/logo.png" alt="logo"
              style="filter: invert(0);"></a></li>
        <li><a href="{{ url_for('home') }}">Accueil</a></li>
        <li><a href="{{ url_for('programme') }}">Programme</a></li>
        <li><a href="{{ url_for('billet') }}">Billet</a></li>
        <li><a href="{{ url_for('reservation') }}">Reservation</a></li>
        <li><a href="{{ url_for('groupes') }}">Les groupes</a></li>
        <li><a href="{{ url_for('contact') }}">Nous contacter</a></li>
        <li>
          <div class="dropdown">
            <img
              src="{{ url_for('static', filename='images/utilisateur.png') }}"
              alt="utilisateur">
            <div class="dropdown-content">
              <a href="{{ url_for('mes_billets') }}">Mes billets</a>
              <a href="{{ url_for('mes_reservations') }}">Mes réservations</a>
              <a href="{{ url_for('mes_favoris') }}">Mes groupes favoris</a>
              <a href="{{ url_for('logout') }}">Déconnexion</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>

    <div style="min-height: calc(100vh - 285px);">
      {% block main %} {% endblock %}
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-section">
          <img src="../static/images/x.png" alt="Image 1">
          <img src="../static/images/insta.png" alt=" Image 2">
        </div>
        <div class="footer-section">
          <a href="#" class="about-us">À propos de nous</a>
        </div>
        <div class="footer-section">
          <a href="#" class="about-us">FestIUT@fr.com</a>
        </div>
        <div class="footer-section">
          <img src="../static/images/logo.png" alt="Image 4">
        </div>
      </div>
    </footer>

    {% block scripts %} {{ bootstrap.load_js()}} {% endblock %}
  </body>
</html>
