{% extends 'admin.html' %} {% block main %}

<div class="constainer-sm m-5 pt-5">
<form action="{{ url_for('creer_groupe') }}" method="post" class="row gx-3 gy-2 align-items-center">
    {{ form.csrf_token }}
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">{{ form.nom.label }}</span>
        {{ form.nom(size=20, class="form-control", placeholder="Nom du groupe") }}
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text">{{ form.style.label }}</label>
        {{ form.style(class="form-select") }}
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">{{ form.description.label }}</span>
        {{ form.description(size=20, class="form-control") }}
    </div>
    <input type="submit" value="Créer" class="btn btn-success">
</form>
</div>


{% endblock %}