{% extends 'admin.html' %} {% block main %}

<div class="container-fluid mt-2">
    <a href="{{ url_for('panel') }}" style="text-decoration: none; color: black;"><img src="{{ url_for('static', filename='images/fleche-gauche.png') }}" alt="" style="width: 25px;">Retour au panel d'administration</a>
</div>

<div class="mt-5">
    <h1 class="text-center">Les évènements</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Groupe</th>
                <th scope="col" class="text-center">Type</th>
                <th scope="col" class="text-center">Début évènment</th>
                <th scope="col" class="text-center">Fin évènement</th>
                <th scope="col" class="text-center">Temps montage</th>
                <th scope="col" class="text-center">Temps démontage</th>
                <th scope="col" class="text-center">Durée évènement</th>
                <th scope="col" class="text-center">Lieu/Emplacement</th>
                <th scope="col" class="text-center">Est public</th>
                <th scope="col" class="text-center">Sous réservation</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <th scope="row" class="align-middle text-center">{{ event.get_id() }}</td>
                    <td class="align-middle text-center"><a href="{{ url_for('gestion_groupe', nom=Groupe.get_groupe_by_id(event.get_id_g()).get_nom_groupe()) }}">{{ Groupe.get_groupe_by_id(event.get_id_g()).get_nom_groupe() }}</a></td>
                    <td class="align-middle text-center">{{ Type_evenement.get_type_evenement_by_id(Evenement.get_evenement_by_id(event.get_ref_evenement()).get_id_type_evenement()).get_libelle() }}</td>
                    <td class="align-middle text-center">Journée {{ event.get_jour_arrive() }} à {{ event.get_heure_arrive() }}h</td>
                    <td class="align-middle text-center">Journée {{ event.get_jour_depart() }} à {{ event.get_heure_depart() }}h</td>
                    <td class="align-middle text-center">{{ event.get_temps_montage() }}h</td>
                    <td class="align-middle text-center">{{ event.get_temps_demontage() }}h</td>
                    <td class="align-middle text-center">{{ event.get_duree() }}h</td>
                    <td class="align-middle text-center">{{ Lieu.get_lieu_by_id(event.get_id_lieu()).get_nom() }}/{{ Lieu.get_lieu_by_id(event.get_id_lieu()).get_emplacement() }}</td>
                    <td class="align-middle text-center">{% if event.get_est_public() == 1 %}Oui{% else %}Non{% endif %}</td>
                    <td class="align-middle text-center">{% if event.get_a_preinscription() == 1 %}Oui{% else %}Non{% endif %}</td>
                    <td class="align-middle text-end">
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="window.location.href=`#`"">Supprimer</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="#" class="btn btn-success btn-sm ms-2">Créer un évènements</a>
</div>

{% endblock %}