{% extends 'base.html' %} {% block main %}

  <div
    class="container-sm mt-5 mb-5 p-5 rounded-3 shadow-lg"
  >
    <h1 class="mb-5 fs-1 text-center">{{ title }}</h1>
    <form method="post" action="/login">
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      <div class="form-floating mb-4">
        {{ form.email(size=20, type="email", class="form-control bg-dark text-light",
        id="floatingInput", placeholder="name@example.com" ) }}
        {{ form.email.label(class="form-label") }}
      </div>
      <div class="form-floating mb-4">
        {{ form.mdp(size=20, type="password", class="form-control bg-dark text-light",
        id="floatingPassword", placeholder="Mot de passe" ) }}
        {{ form.mdp.label }}
      </div>
      <input type="submit" class="btn btn-primary" />
      <a
        class="link-opacity-50-hover ms-5 end-100"
        href="{{url_for('register')}}"
        >Créer un compte</a
      >
    </form>
  </div>

  {% block scripts %} {{ bootstrap.load_js() }} {% endblock %} {% endblock %}
