{% extends 'base.html' %} {% block main %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<main class="mb-5">
<div class="container-sm mb-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Mes billets</h1>
    </div>
  </div>
  {% if billets|length == 0 %}
  <div class="row">
    <div class="col-12">
      <p>Vous n'avez pas encore de billet</p>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-center">Libelle</th>
            <th scope="col" class="text-center">Durée</th>
            <th scope="col" class="text-center">Début validité</th>
            <th scope="col" class="text-center">Fin validité</th>
          </tr>
        </thead>
        <tbody>
          {% for billet in billets %}
          <tr>
            <td class="align-middle text-center">{{ Type_billet.get_type_billet_by_id(billet.get_id_type_billet()).get_libelle() }}</td>
            <td class="align-middle text-center">{{ Type_billet.get_type_billet_by_id(billet.get_id_type_billet()).get_duree() }}</td>
            <td class="align-middle text-center">{{ billet.get_debut_validite() }}</td>
            <td class="align-middle text-center">{{ billet.get_fin_validite() }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</div>
</main>

{% endblock %}