{% extends 'base.html' %} {% block main %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<main class="mb-5">
<div class="container-sm mb-5">
  <div class="row">
    <div class="col-12">
      <h1>Mes réservations</h1>
    </div>
  </div>
  {% if reservations|length == 0 %}
  <div class="row">
    <div class="col-12">
      <p>Vous n'avez pas encore de billet</p>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-center">Groupe</th>
            <th scope="col" class="text-center">Début évènment</th>
            <th scope="col" class="text-center">Fin évènement</th>
            <th scope="col" class="text-center">Type évènement</th>
          </tr>
        </thead>
        <tbody>
          {% for reserv in reservations %}
          <tr>
            <td class="align-middle text-center">{{ Groupe.get_groupe_by_id(Evenement.get_evenement_by_id(reserv.get_ref_evenement()).get_id_g()).get_nom_groupe() }}</td>
            <td class="align-middle text-center">Journée {{ Evenement.get_evenement_by_id(reserv.get_ref_evenement()).get_jour_deb() }} à {{ Evenement.get_evenement_by_id(reserv.get_ref_evenement()).get_heure_deb().strftime('%Hh%M') }}</td>
            <td class="align-middle text-center">Journée {{ Evenement.get_evenement_by_id(reserv.get_ref_evenement()).get_jour_fin() }} à {{ Evenement.get_evenement_by_id(reserv.get_ref_evenement()).get_heure_fin().strftime('%Hh%M') }}</td>
            <td class="align-middle text-center">{{ Type_evenement.get_type_evenement_by_id(Evenement.get_evenement_by_id(reserv.get_ref_evenement()).get_id_type_evenement()).get_libelle() }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</div>
</main>

{% endblock %}