{% extends 'base.html' %} {% block main %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<h2>Mes groupe favoris :</h2>
{% for favori in favoris %}
{% set groupe = Groupe.get_groupe_by_id(favori.get_id_g()) %}
<div class="groupe">
  <div class="groupe__image">
    <img src="" alt="groupe">
  </div>
  <div class="groupe__info">
    <h2>{{ groupe.get_nom_groupe() }}</h2>
    <p>{{ groupe.get_description() }}</p>
    <p>{{ Style_musical.get_style_by_id(groupe.get_id_style()).get_libelle() }}</p>
    <a href="{{ url_for('groupe', id=groupe.get_id()) }}">Voir plus</a>
  </div>
</div>
{% endfor %}

{% endblock %}