{% extends 'admin.html' %} {% block main %}

<h1 class="fs-1 text-center mt-5 pt-5">Panel admin</h1>
<div class="container position-absolute top-50 start-50 translate-middle p-5">
    <p class="fs-2 text"><a class="link-opacity-10" href="{{ url_for('gestion_groupes') }}">Gestion des groupes</a></p>
    <p class="fs-2 text"><a class="link-opacity-10" href="{{ url_for('gestion_evenements') }}">Gestion des évènements</a></p>
    <p class="fs-2 text"><a class="link-opacity-10" href="{{ url_for('gestion_hebergements') }}">Gestion des hébergements</a></p>
    <p class="fs-2 text"><a class="link-opacity-10" href="{{ url_for('gestion_lieux') }}">Gestion des lieux</a></p>
</div>

{% endblock %}