{% extends 'base.html' %} {% block main %}



<h1 class="text-center mb-5">Reservation</h1>
<main class="mb-5">
    <div class="container-sm">
        <div class="row row-cols-4">
        {% for event in events %}
                <div class="col m-5 pt-2 border rounded">
                    <a href="{{ url_for('groupe', id = Groupe.get_groupe_by_id(event.get_id_g()).get_id()) }}" style="text-decoration: none;"><h3 class="mb-3 pb-3 text-center border-bottom">{{ Groupe.get_groupe_by_id(event.get_id_g()).get_nom_groupe() }}</h3></a>
                    <div class="container-sm mb-3">
                        <div class="row mb-2">
                            <span>Journée {{ event.get_jour_deb() }} à {{event.get_heure_deb().strftime('%Hh%M')}}</span>
                        </div>
                        <div class="row text-break">
                            <span>{{ Lieu.get_lieu_by_id(event.get_id_lieu()).get_nom() }}, emplacement: {{ Lieu.get_lieu_by_id(event.get_id_lieu()).get_emplacement() }}</span>
                        </div>
                    </div>
                    <form action="{{ url_for('reservation', id=event.get_id()) }}" method="post" class="text-center mb-3">
                        {{ form.csrf_token }}
                        <input type="submit" value="Réserver" class="btn btn-primary">
                    </form>
                </div>
        {% endfor %}
        </div>
    </div>
</main>
{% endblock %}